<div class="header">
    <button class="okbutton" (click)="ShowAll()">Show all</button>
    <input type="text" class="textfield" placeholder="Serach title" name="searchstring" [(ngModel)]="searchstring">
    <button class="okbutton" (click)="ShowSome()">Search by title</button>
    <input type="text" class="textfield" placeholder="Serach id">
    <button class="okbutton">Search by id</button>
</div>
<div class="container">
    <div class="row" *ngFor="let row of postsbyfour">
         <div class="element" *ngFor="let post of row" id={{post.Id}} [routerLink]="['/viewpost', post.Id]">
            <div class="title"><a>{{post.Title}}</a></div>
            <img class="pic" src="{{post.Content}}">
            <div class="info">
            </div>
        </div>
    </div>
</div>