<div id="left"></div>
<div class="content">
    <div class="textcontainer">
        <input type="text" class="textfield" placeholder="Link to image..." #input (keyup)="Loadhref(input.value)">
    </div>
    <div class="textcontainer">
        <input type="text" class="textfield" placeholder="Titile..." name="title" [(ngModel)]="title">
    </div>
    <div class="piccontainer" *ngIf="true"> <!-- this.content != null -->
        <img class="pic" src="{{ this.content }}">
    </div>
    <div class="textcontainer">
        <textarea spellcheck="false" rows="7" class="description" placeholder="Give it a description..." name="description" [(ngModel)]="description"></textarea>
    </div>
</div>
<div id="right"></div>
<div class="settings">
    <button class="okbutton" (click)="ButtonClick()">Post</button>
</div>