<div id="left"></div>
<div class="content">
    <div class="textcontainer">
        <input type="file" class="filefield" placeholder="image" accept="image/*" #input (change)="processFile($event)">
    </div>
    <div class="textcontainer">
        <input type="text" class="textfield" placeholder="Titile..." name="title" [(ngModel)]="title">
    </div>
    <div class="piccontainer">
        <img class="pic" [src]="imgdisplay">
    </div>
    <div class="textcontainer">
        <textarea spellcheck="false" rows="7" class="description" placeholder="Give it a description..." name="description" [(ngModel)]="description"></textarea>
    </div>
</div>
<div id="right"></div>
<div class="settings">
    <button class="okbutton" *ngIf="this.buttonshow" (click)="ButtonClick()" routerLink="/done">Post</button>
</div>