<div id="left"></div>
<div class="content">
    <div class="textcontainer">
        <h2 class="title">He has arrived.</h2>
    </div>
    <div class="piccontainer">
        <img class="pic" src="https://i.imgur.com/30Ccqhb.jpeg">
    </div>
    <div class="textcontainer">
        <a class="textdescription">Cat do be steppin<br>tho<br>The CHONK.</a>
    </div>
</div>
<div id="right"></div>
<div class="settings">
    <div class="viewscounter">
        6612 views
    </div>
    <div class="likecontainer">
        <button class="likebotton">Like</button>
        <div class="number">
            <a class="likecounter">5885</a>
        </div>
    </div>
    <div class="likecontainer">
        <button class="dislikebutton">!Like</button>
        <div class="number">
            <a class="likecounter">1337</a>
        </div>
    </div>
    <div class="postedby">
        Posted by:
    </div>
</div>