<div id="left"></div>
<div class="content">
    <div class="textcontainer">
        <h2 class="title">{{this.PagePost.Title}}</h2>
    </div>
    <div class="piccontainer">
        <img class="pic" src={{this.PagePost.Content}}>
    </div>
    <div class="textcontainer">
        <a class="textdescription">{{this.PagePost.Description}}</a>
    </div>
</div>
<div id="right"></div>
<div class="settings">
    <div class="viewscounter">
        6612 views
    </div>
    <div class="likecontainer">
        <button class="likebotton">Like</button>
        <div class="number">
            <a class="likecounter">5885</a>
        </div>
    </div>
    <div class="likecontainer">
        <button class="dislikebutton">!Like</button>
        <div class="number">
            <a class="likecounter">1337</a>
        </div>
    </div>
    <div class="postedby">
        Posted by:
    </div>
</div>